DIR="$(pwd)"
export DATABASE_URL="postgresql://todoers:todoers@127.0.0.1:5432/todoers"
export SERVER_DATABASE_URL="postgresql://todoers:todoers@127.0.0.1:5432/todoers"
export CLI_DATABASE_URL="sqlite://${DIR}/dbs/cli.sqlite"
export GUI_DATABASE_URL="sqlite://${DIR}/dbs/gui.sqlite"
